[2020-09-16 09:38] tommasongr opened #3 "Implementing Vue LSP"
I'm trying to implement the Vue Language Server, unfortunately I didn't get that far.

First of all the custom Completions for Vue and the standard Completions for html and css are not shown anymore. Javascript syntax has improved a little bit but not significantly improvements to vue. For example `this` doesn't offer intellisense as it should. I have no clue on how to implement a correct version

[2020-09-16 10:26] apexskier commented on #3
Hey, happy to help out and take a look. Sounds like you've tried something so far - can you share the branch you're working off of?

[2020-09-16 10:28] tommasongr commented on #3
Thanks you so much! Here it is: https://github.com/tommasongr/nova-vue/tree/vue-lsp

[2020-09-16 15:35] apexskier commented on #3
The first thing I see is
[code]

because the extension's not [running a self-install](https://github.com/apexskier/nova-typescript/blob/d12ff4b0af6805a8c0020ee14bd0e6b9f2820a63/src/main.ts#L25-L48), like [mine does](https://github.com/apexskier/nova-typescript/blob/master/CONTRIBUTING.md#extension-dependencies). (I use [shrinkwrapping](https://docs.npmjs.com/cli/shrinkwrap), which I'd recommend ov

[2020-09-16 15:45] apexskier opened #5 "Add `nova-extension` github repository topic"
Just a quick suggestion to add [`nova-extension`](https://github.com/topics/nova-extension) as a github topic - it seems to be the one that most other repositories are using (I copied it from a couple other projects). "Nova" itself isn't great - there are a number of other things using the name.

[2020-09-16 16:44] tommasongr commented on #5
Thank you so much for the suggestion! I updated it right away!

[2020-09-16 16:44] #5 closed

[2020-09-16 17:12] tommasongr commented on #3
Thank you so much for your time and feedback!

Thanks for the suggestions of using shrinkwrapper, i'll definitely merge your pull request #4

---

Yes I saw that, what I ment was that on vscode for example the suggestion for `this` includes a lot of stuff coming from the vue instance.

---

These are some completions that I defined specifically for the vue-html subsyntax.

<img width="568" alt="Sc

[2020-09-17 05:34] yoyo930021 commented on #3
Hi, I'm a Vetur project contributor.

I work in this issue.
It can solve many dependencies problem.
https://github.com/vuejs/vetur/issues/2233

Maybe you can wait this issue.
I will try to help when issue finished.

[2020-09-17 08:57] tommasongr commented on #3
It would be great! Thanks for your contribution! @yoyo930021

[2020-09-18 20:55] apexskier commented on #3
I see... I think this is something we'll need Panic to solve.

The LSP does have [support for completion placeholders](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#placeholders). It [kind of looks like Vetur's language server is generating placeholders](https://github.com/vuejs/vetur/blob/8a59a061b0fad47ef25b0c14ddbb4ebe431609ff/server/src/modes/templa

[2020-09-29 17:46] jonowells commented on #3
From the Nova 1.2 Release Notes:
- Extensions: Added support for the LSP Snippet format in completions

[2020-09-30 08:22] tommasongr commented on #3
@jonowells I tried yesterday 1.2 updates with the already in place implementation of vls but it still autocomplete with e.g: `v-if="$1"`

@apexskier gives it a try too and found the same issue.

I reached out some folks at Panic and they are looking at it. Let's see

[2020-10-24 02:27] laosb commented on #3
Now Nova 2 has been released. Any improvements on this?

[2020-10-24 08:17] tommasongr commented on #3
@laosb I started looking at it yesterday evening! The LSP already works. The problem right now is that the LSP overrides the custom defined completions and their completions are not the best to be honest... I'm looking to a way to disable the LSP completion feauture but I'm not sure on how VLS works.

@yoyo930021 Can you help me on this?

[2020-10-24 08:38] yoyo930021 commented on #3
I can add option for disable LSP completion.
But I don't think `vls` completion would be worse.
After all, we have TypeScript support.

[2020-10-24 09:09] tommasongr commented on #3
@yoyo930021 sorry about that I guess I didn't explain myself correctly. Is not about what vls has but what it doesn't have. Take a look... This kind of completions are not available in vls and if an LSP is activated the custom completions are not shown.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/25225746/97078007-fdd32000-15e8-11eb-8446-f5b3d52d320a.gif)

However I've bee

[2020-10-24 09:13] tommasongr commented on #3
Another option it might be to add the completions to the LSP directly but I'm not sure if is it possible with VLS and eventually how to do that. In that case it would be possible to scope the completions to the export default only? and maybe customize them based on the lang type (js, ts, ...)?

[2020-10-25 14:32] tommasongr commented on #3
@laosb Vetur mode has finally landed on Nova! Slap that update button! 🥳

https://twitter.com/tommasongr/status/1320367367596183552

[2020-10-25 14:35] tommasongr commented on #3
Since the LSP is implemented I'll close the issue. Thank you all guys!

[2020-10-25 14:35] #3 closed

[2020-10-28 09:35] yoyo930021 commented on #3
Sorry it's a little late to reply.
I welcome you send a PR to vetur about that snippets.
For example, Javascript can be added here.
https://github.com/vuejs/vetur/blob/master/server/src/modes/script/javascript.ts#L141

It also appears that nova doesn't allow you to use both at the same time.
If two extensions are used, can this problem be solved?
Maybe a similar idea could be the solution.

[2020-10-28 18:51] tommasongr commented on #3
@yoyo930021 Thanks! I'll take a look at both strategies!

Anyway can I ask you why intellisense works flawlessly inside script tag but when it comes to the template it doesn't seem to exist at all? I would love to fix that too, thanks

[2020-10-29 09:00] yoyo930021 commented on #3
I'm not sure what part of intellisense you're referring to in the template.
There are five relevant sections here.
1. HTML5 tag or attrs

2. Vue tag or attrs

3. External component data provided by library.

4. Vue components are defined in the file.

5. TypeScript is provided based on the current component.

[2020-10-29 10:50] tommasongr commented on #3
@yoyo930021

As you can see inside the template directives intellisense is not working. This is the only problem I've found for now, everything else works well.

![intellisense](https://user-images.githubusercontent.com/25225746/97558597-9ea44f80-19dc-11eb-93cb-0701ece8dfaa.gif)

[2020-10-29 13:08] yoyo930021 commented on #3
This is a setting not a command.
In VSCode, it is same as editor config.
VScode will send setting in LSP.

Vetur can send setting when init.
https://github.com/vuejs/vetur/blob/70609ef531ccd1884410ac366b5a3ae08174ceb4/client/client.ts#L56
You can try to use this for test.
But understanding LSP and setting with nova is important.

[2020-10-30 14:47] jonowells opened #10 "FIX: Vue HTML template syntax highlighting breaks if attribute contains an arrow function"
There is one case that is breaking the syntax highlighting. If a vue attribute contains an arrow function such as `<div @click="() => handleEvent"` the following tags all lose their syntax highlighting.

<img width="178" alt="Screen Shot 2020-10-30 at 10 41 45 AM" src="https://user-images.githubusercontent.com/500474/97719081-0e7a0f00-1a9d-11eb-9ed7-152bd79360f2.png">

<img width="253" alt="Screen

[2020-10-30 15:57] tommasongr commented on #10
Nice catch! I'll take a look asap

[2020-10-30 16:33] tommasongr commented on #10
@jonowells It has been pretty easy to fix. I just pushed an update. Let me know if it works. Thanks

[2020-10-30 16:33] #10 closed

[2020-11-02 17:06] rijkvanzanten opened #11 "Vetur mode fairly slow"
Hi there!

Thanks for your wonderful work on the Vue plugin 🙂

I've seemed to notice that Nova's version of the Vetur setup has some of the same performance pitfalls as the VS Code original.

For example, when importing a file, it takes a couple seconds for Vetur to "catch up" and show me information, compared to ms on regular .ts files:

![CleanShot 2020-11-02 at 12 01 38](https://user-images.git

[2020-11-02 17:29] tommasongr commented on #11
Hi there! Thanks for the kind words!

Unfortunaly there is not a lot you can do here. **Vetur mode** means that you are literally using Vetur under the hood, or to better say it you are using the same LSP (Language Server Protocol) which is VLS (Vue Language Server). An LSP is a protocol for sharing language's logic between different editors. What you know as Vetur is just a wrapper of this Langua

[2020-11-02 17:34] rijkvanzanten commented on #11
Hmm I was afraid that was the case. Makes total sense from a plugin development perspective of course, no need to reinvent that (massive) wheel 😁

I'll look into VLS directly and see if I can find out what's causing this 👍

[2020-11-02 17:34] #11 closed

[2020-11-03 01:05] yoyo930021 commented on #11
@tommasongr
Please upgrade vls version.
In v0.5.5, we resolve the perf problems.

[2020-11-03 11:18] tommasongr commented on #11
Hi @yoyo930021 sorry for reaching out to you again but I'm not sure what is going on here. I tried to upgrade to v0.5.5 and the server throws this error in the console.

[code]

I'm actually following the doc for registering the LSP. Is this is a Nova problem or a problem of the extension?

[code]

Thanks again, I should definitely look better into this LSP thing. Unfortunately I haven't really fi

[2020-11-03 13:22] yoyo930021 commented on #11
I think it's a bug in Nova.
Nova LSP client isn't support `formatting` feature.
We register formatting feature when v0.5.5 in the Vetur.

You can use `vetur.format.enable: false` to close formatting feature.
I will try to send a PR about this.

[2020-11-05 23:18] tremendus opened #13 "Support pug language"
I see from the docs that you're waiting on pug language support. Locally I started migrating the pug regexes from the Atom extension ... and in a plain pug file the highlighting is starting to take shape - at least for the common features.

However, it doesn't work when `<template lang="pug"></template>` in a Vue single file component.

I would have thought that your extension would have 'delegate

[2020-11-06 00:15] tommasongr commented on #13
Hi @tremendus happy to see that finally someone is tackling this! You are right the Vue extension should delegate your extension for displaying the syntax, my fault if that is not already in place. It will be pretty easy to implement but here is late night, I'll look at it tomorrow.

Is your extension already available? In the mean time if you want to send me over an example of Vue component using

[2020-11-06 06:18] tremendus commented on #13
I don't have an extension available - I simply took the 'slim' language definition which has a similar syntax, and created a local extension from it, changing the minimum necessary fields in the config xml to make it respond to pug files.

I figure that between that and Atom's pug language definition, I should have most of what I need to get the core syntax def working for pug in Nova - syntax hig

[2020-11-06 08:46] tommasongr commented on #13
Could you upload it at least on github so I can activate it locally and perform some test?

[2020-11-06 12:16] tremendus commented on #13
Ok, I'll either make it stable and upload it or I'll take a look at your VueHTML thanks.

[2020-11-11 14:02] yoyo930021 opened #14 "Upgrade vls to 0.5.7"
https://github.com/tommasongr/nova-vue/issues/3#issuecomment-693899237

The PR is merged and released.
Many dependencies problem is solved.

[2020-11-11 22:26] tommasongr commented on #14
Upgraded with #15 🎉

[2020-11-11 22:26] #14 closed

[2020-11-15 02:54] jdillworth opened #16 "Support symbols"
First, thanks for creating this plugin!

Sorry if I'm just doing something wrong but when I use the `Go > Go to Symbol..` menu option I would expect to see methods, computed properties, and life-cycle methods (created, beforeDestroy). Instead I see script, template and sometimes some template tags with their CSS class names.

Is symbol support missing? If so, are you planning to implement it?

[2020-11-15 08:59] tommasongr commented on #16
Hi there! Thank you too for enjoying it!

Symbol support is something I'm aware is not the best, unfortunately is not completely under my control. Vetur which is the Vue file parser and is running under the hood doesn't provide such information, at least as far as I've found. The symbols you are seeing right now come from the syntaxes definitions of Nova. That means that in order to display that k

[2020-11-18 20:57] tremendus commented on #13
Ok, well I didn't quite get to it ... but this guy did. Love it if you could integrate yours with his extension.

[https://github.com/kpmcguire/nova-pug-syntax](https://github.com/kpmcguire/nova-pug-syntax)

[2020-11-18 20:57] #13 closed

[2020-11-21 08:24] tommasongr commented on #13
Hi there! Sorry for the late reply.

Thats on my radar but unfortunately I've been a bit busy these days. I'll try to implement it asap

[2020-11-25 07:53] tommasongr commented on #13
Hi just released an update with pug syntax support. Let me know how it is. Unfortunately the syntax definition is pretty poor and I haven't been able to define v-directives and other vue stuff, so you won't have access to all the completions and other rich features coming from the LSP

[2020-11-25 12:53] tremendus commented on #13
Thanks. Yes I am seeing issues with the language definitions too. I'm just wrapping up a project that has to ship next week, when that's done, I'll take another look at my own language file for pug and continue migrating the Atom extension pug configs into it.

[2020-11-25 18:43] jonathan-wondereur opened #18 "Nova crashes when opening .vue file when extension enabled"
When I open Nova with the .vue file extension with a file with pug and typescript templates Nova crashes.

[2020-11-25 18:58] jonathan-wondereur commented on #18
Here is a crash report:

[code]

[2020-11-25 19:07] jonathan-wondereur commented on #18
This must be related to the release of V3 with pug support ... do you know how I can install an old version of the addon while you fix this issue?

[2020-11-25 19:12] jonathan-wondereur commented on #18
Okay ... I disabled pug by editing the regex in the Syntaxes/Vue.xml file of my install.

[2020-11-25 19:17] jonathan-wondereur commented on #18
Okay ... well this is the real issue ... Nova crashes when you try to open a Vue file with PUG when you do not have the PUG extension installed. I think there should be a more graceful approach so that we know we should install PUG ... I think this is an issue with Nova though so I will close this and give Panic the feedback.

[2020-11-25 19:17] #18 closed

[2020-11-28 12:15] tommasongr commented on #18
Hi! Sorry for the late reply. This is actually bad stuff... I never experienced this since I had all the third party extensions always enabled. Now that I know I'll had a Warning at the extension README. I know this won't solve the problem but I can't do more than that. This is a problem Panic should address

[2021-01-11 22:32] rijkvanzanten opened #19 "Compatibility with Nova 4"
Heya!

I'm seeing some weird behavior when using this extension with Nova 4. The syntax highlighting only seems to work occasionally for TS, and not at all for CSS 🤔

![CleanShot 2021-01-11 at 17 29 55](https://user-images.githubusercontent.com/9141017/104245647-a21f7280-5432-11eb-9c6d-326433dcb18c.png)

![CleanShot 2021-01-11 at 17 30 04](https://user-images.githubusercontent.com/9141017/10424565

[2021-01-12 07:31] tommasongr commented on #19
Mmm that's weird...

I've updated to Nova 4 yesterday evening but I haven't been able to test different projects yet.

Can you send me the files that you have found broken?? That would be helpful.

Unfortunately this week I'm already a bit busy, I'll try to give it a look but I can't assure a patch until the weekend 😕

Thanks for the catch anyway 😉

[2021-01-12 12:37] fosterdouglas commented on #19
Experiencing the same as OP, with my SFC .vue files.

<img width="508" alt="Screen Shot 2021-01-12 at 4 35 54 AM" src="https://user-images.githubusercontent.com/7971443/104315460-d412f200-548f-11eb-9e56-b59156d713f0.png">

Otherwise, thank you for the great extension!

[2021-01-12 14:39] rijkvanzanten commented on #19
@tommasongr Seems to happen on any Vue file for me 🤔

For example [the basic Vue SFC](https://codesandbox.io/s/github/vuejs/vuejs.org/tree/master/src/v2/examples/vue-20-single-file-components) example from [the Vue docs](https://vuejs.org/v2/guide/single-file-components.html#What-About-Separation-of-Concerns):

[code]

![CleanShot 2021-01-12 at 09 34 29](https://user-images.githubusercontent.com/9

[2021-01-12 14:48] rijkvanzanten commented on #19
No problem! We're all familiar with open-sourcing next to actual life and jobs 🙂 In the meantime, is there anything I can do to help debug this?

[2021-01-12 14:59] tommasongr commented on #19
Okk I've seen it now... it seems to be on every vue file... I think I'll try to give it a look now hoping can be fixed quickly.

In the meantime, thank you all guys! This is my first o.s. project and its quite fun to see you all interested in it! 😆

[2021-01-12 15:19] rijkvanzanten commented on #19
Welcome to OSS! It's great ❤️

Always fun to know by who/where your software is used. In this case, your project is directly helping the development of [Directus](https://github.com/directus/directus) 😉

[2021-01-12 15:28] tommasongr commented on #19
Okk folks, I've found the problem.

This is the markup I was using for the standard script block. Every other block (ts, coffeescript, css, sass...) is just I modified version of this very one.
[code]

I looked at the html extension bundled with Nova and this is their implementation of the script tag in html (which is also where I took the previous one).
[code]

As you can see they removed the fir

[2021-01-12 15:33] fosterdouglas commented on #19
Wow, that's some speedy service... 👍

[2021-01-12 15:33] rijkvanzanten commented on #19
I love the irony of this:

![CleanShot 2021-01-12 at 10 32 52](https://user-images.githubusercontent.com/9141017/104335682-9cbd3900-54c1-11eb-922c-97eeab214d8b.png)

Thanks a lot @tommasongr! ❤️

[2021-01-12 15:45] rijkvanzanten commented on #19
Aaaaand we're back!

![CleanShot 2021-01-12 at 10 44 40](https://user-images.githubusercontent.com/9141017/104337191-346f5700-54c3-11eb-95ec-4de1ead9dcb2.png)

Thanks again @tommasongr ❤️

[2021-01-12 15:45] #19 closed

[2021-01-12 15:45] tommasongr commented on #19
#20 This should solve it! I pushed the update, let me know if it works!

[2021-01-12 15:46] tommasongr commented on #19
hahaha particularly speedy beacuse without it today I wouldn't be able to work 😂

[2021-01-12 16:07] jonathan-wondereur commented on #19
Thanks for the fast update!

[2021-01-12 16:18] tommasongr commented on #19
Hi again! This is the last one for today ahahah. Since I've seen you engaged I opened this discussion #21 hoping for some feedback, feature ideas or suggestion. I would like to riceive some feedbacks particularly on the experience with typescript and vue 3.

Thank you all! 😉

[2021-01-12 18:05] logancollins commented on #19
Just wanted to mention that I'm sorry that this happened! I didn't think our changes to the grammar format in Nova 4 would impact existing grammars like this. I will investigate to see why this might've changed, but I'm happy to hear you were so quickly able to apply a fix.

[2021-01-12 18:18] tommasongr commented on #19
@logancollins don't worry, fortunately has been pretty easy to find the bug this time. Especially with the bundled extensions open to inspect, that has been pretty usefull in the past for the syntax stuff.

Anyway thanks for the overall great update! I've seen some good stuff about git, particularly the new history tab... I hope you will expand on it.

P.S: Any news about debugging features?? I fr

[2021-01-12 18:20] logancollins commented on #19
Debugger support is actively being investigated. It won't arrive _soon_, as there's a lot of moving pieces to support it, but it is definitely something we're working towards. I'm hoping to have something to share on that stuff later this year.

[2021-01-12 18:23] tommasongr commented on #19
Awesome!

Just one more thing... I'm a bit disappointed here... ahahhaha

There is for sure some caching problem here ahahah I tried everything except a fresh re-install... Any hints?

<img width="319" alt="Schermata 2021-01-12 alle 19 19 55" src="https://user-images.githubusercontent.com/25225746/104355759-686e6a80-550b-11eb-9a6b-f1bc8eb0906d.png">
<img width="461" alt="Schermata 2021-01-12 alle

[2021-01-14 06:04] command-tab opened #22 "Support Pug HTML tags with hyphens"
Thank you for this plugin, and special thanks for adding Pug support! Writing Pug is a delight compared to HTML, and I'm glad to see it getting attention in Nova.

I've noticed that while this extension supports Pug syntax, it seems to stop highlighting where tag names contain hyphens:

![image](https://user-images.githubusercontent.com/3069/104551130-20bf1000-55eb-11eb-9b7a-0049aa41f3ce.png)

Cou

[2021-01-14 07:06] tommasongr commented on #22
Hi there! Thank you too for enjoying nova and the extension!

I'll give it a look but that's probably due to the PUG extension, my extension just reference that other syntax.

[2021-01-14 09:30] tommasongr commented on #22
A took a look at it and I confirm the problem is not on my side.

This is a vue component using pug that shows the same problem you are pointing out.
<img width="606" alt="Schermata 2021-01-14 alle 10 25 12" src="https://user-images.githubusercontent.com/25225746/104571210-1c2e4200-5653-11eb-970e-6c78da729ccf.png">

As you can see placing the same code in a plain pug file the result is the same...

[2021-01-14 09:30] #22 closed

[2021-01-15 03:36] chriscalo opened #23 "Syntax highlighting breaks for self-closing tags"
Thanks for the Vue extension for Nova!

I've noticed that the extension doesn't seem to work with self-closing tags in `.vue` files.

Syntax highlighting is correct without the self-closing slash:

![image](https://user-images.githubusercontent.com/867717/104677731-f25b3680-56b7-11eb-97ae-947f8931fe14.png)

As soon as you add the self-closing slash, things become miscolored:

![image](https://user

[2021-01-15 07:22] tommasongr commented on #23
Thanks for the catch! I'll take a look in the afternoon 😉

[2021-01-16 13:13] tommasongr commented on #23
Hi there! I just released an update v3.2 which solves this issue. Thanks for your feedback! 😉

[2021-01-16 13:13] #23 closed

[2021-01-16 22:53] chriscalo commented on #23
Syntax highlighting now works perfectly 👍

I did notice one more related issue where the symbol path at the top of an editor tab is incorrect:

![image](https://user-images.githubusercontent.com/867717/104824825-5cdcb580-5823-11eb-912f-7e8832737b94.png)

If I add a separate </Nav> closing tag, the symbol path is correct for this same cursor position:

![image](https://user-images.githubusercontent

[2021-01-17 07:56] tommasongr commented on #23
Thanks! I don't use symbols usually so I've never noticed it. Thanks for the catch!

If you have time you can filed a new issue, otherwise don't worry 😉

[2021-01-18 04:21] chriscalo commented on #23
Not hard at all, will copy to a new issue…

[2021-01-18 04:22] chriscalo opened #24 "Symbol path is incorrect when self-closing tags are used"
The symbol path at the top of an editor tab is incorrect when using self-closing tags (notice the `<Nav/>`:

![image](https://user-images.githubusercontent.com/867717/104824825-5cdcb580-5823-11eb-912f-7e8832737b94.png)

If I add a separate </Nav> closing tag, the symbol path is correct for this same cursor position:

![image](https://user-images.githubusercontent.com/867717/104824855-a5946e80-5823

[2021-01-18 20:22] chriscalo opened #25 "Incorrect eslint error message: [vue/no-multiple-template-root]"
Generated a fresh Vue3 app via @vue/cli and seeing this eslint error:

![image](https://user-images.githubusercontent.com/867717/104959320-fa5cf400-599f-11eb-9923-55fa5ca386c1.png)

Vue3 [no longer](https://v3.vuejs.org/guide/migration/fragments.html) has the constraint of one root element in a component template.

I'd be happy with any of these fixes:
- making this rule smart enough to detect vue

[2021-02-02 19:43] frufin commented on #16
Right, this would be a really usefull improvement !

[2021-03-04 10:43] felixqueisler opened #26 "Expose the Vetur API"
![Screenshot 2021-03-04 at 11 40 21](https://user-images.githubusercontent.com/3536483/109951893-87ed6c80-7cde-11eb-82df-9888ba35bffe.png)

Actually there is no problem but it'll still give you this error-warning in the editor.

How to fix: https://github.com/ionic-team/ionic-framework/issues/22236#issuecomment-731000931
I'm not aware of how I'd do that myself.

[2021-03-04 10:52] tommasongr commented on #26
Hi there! Sorry but I'm not sure what do you want me to do. Are you asking how can you change the Vetur settings by your own?

In the mean time you can always disable that rule by placing this comment at the top of your file.
``

Let me know, thanks

[2021-03-07 03:53] chriscalo opened #27 "Syntax highlighting broken by self-closing <style/> tag"
Notice in the screenshot here that, following the self-closing `<style/>` tag, syntax highlighting for the `<template>` tag is broken. (This is valid syntax in `.vue` files.)

![image](https://user-images.githubusercontent.com/867717/110228357-78cd1100-7ece-11eb-83c6-bb6e33274244.png)

Everything looks correct if I add the closing `</style>` tag:

![image](https://user-images.githubusercontent.com

[2021-03-07 08:02] tommasongr commented on #27
Thanks for reporting this! I've been a bit busy lately but I'll try to fix this asap

[2021-03-07 19:44] chriscalo commented on #27
(don't rush on my account, just trying to be helpful in filing bugs as I see them. thanks again for creating this plugin 🙏)

[2021-03-08 10:03] felixqueisler commented on #26
Hey Tomasso,
I'm unfamiliar with Vetur. I figured the settings would be embedded in the extension and can't be edited by myself?
Thanks for the rule tip.

After some digging I found that slot is actually deprecated with vue 3. I thought it wasn't true.

[2021-03-08 10:20] felixqueisler commented on #26
Nevermind. I'm running into this problem: https://ionicframework.com/docs/vue/troubleshooting#slot-attributes-are-deprecated ... it's mixing up web component slot with the vue slot. So it's not actually deprecated.

I was able to disable the error with placing `` **inside** the `<template>` tag.
Is this something which could get prevented extension-side?

[2021-03-08 10:43] tommasongr commented on #26
I'm planning to catch up with all the open issues in the upcoming days, I'll try to look at this too.

I'm not sure if I would be able to expose the Vetur API because I'm not an expert of it too. I'll probably need some help but I'll see what I can do on my own.

[2021-03-08 10:49] tommasongr commented on #26
I'll reopen the issue as Exposing the Vetur API

[2021-03-08 15:53] tommasongr commented on #24
I finally managed to take a look at this and #27. Unfortunately I encountered the same roadblock in both of them.

The problem is that self closing and paired tags overwrite each other when I try to define ad-hoc rules. I looked at the HTML extension from @panicinc and they don't have any rules for handling a case where a tag is both self closed and paired. In fact I had the same error in plain HT

[2021-03-08 16:04] tommasongr commented on #16
I checked the status of this issue and I'm not sure how the situation was when @jdillworth opened it but now the symbols are almost all available.

The problem with life-cycle callbacks si that the JS syntax doesn't define symbols for object shorthands. Unfortunately Vue best practices require them...

For @logancollins maybe a future release of Nova can fix this 😉

Standard function:
<img width="

[2021-03-13 23:45] chriscalo commented on #24
Thanks for looking into this, @tommasongr 🙏

I think you're saying this might be an issue in Panic itself. Also curious if @logancollins can add any insight.

Vue's single-file component syntax does allow using paired or self-closing tags, so things do feel broken if Nova syntax highlighting and symbol paths aren't correct.

[2021-04-29 08:28] dougalg opened #28 "Cannot insert import"
If I type some code and want to add an import for something, I can type CMD + SHIFT + A, and get the action menu including "add import for..." as expected for an unimported item. However, when I select that item, the import is **not** added.

I didn't see this as a known issue in the readme, sorry if it's listed somewhere and I missed it.

[2021-04-29 10:00] tommasongr commented on #28
Hi there! Thanks for the report but I'm not really sure what are you referring to.

Is this action menu provided with vanilla Nova? I wasn't able to find it with the shortcut you pointed out or inside Nova as a whole. Would you mind be more descriptive about the process or even better attaching some screenshost?

Thanks a lot!

[2021-04-29 14:04] dougalg commented on #28
Hi, @tommasongr thanks for your quick reply. I'm very new to Nova, so I'm not 100% sure 😅

I am using only the Vue and TypeScript plugins. After disabling the TS plugin, the action still works:

![image](https://user-images.githubusercontent.com/210433/116563518-4bc93780-a92e-11eb-8c82-d3305fa053bb.png)

You can get this action menu by placing the cursor on the unimported item and then either clic

[2021-05-03 05:10] command-tab opened #31 "Highlighting fails on hyphenated tags"
Thank you for building this Nova extension! ❤️ I ran into this little bug today...

In places where DOM templates use kebab-case, nova-vue fails to highlight hyphenated tags:

![image](https://user-images.githubusercontent.com/3069/116842848-db6f2000-ab92-11eb-8621-527a61545ddc.png)

Notice that `nuxt-link` highlighting stops highlighting the Vue tag (styled green by my theme) at `nuxt-` but doesn

[2021-05-03 08:15] tommasongr commented on #31
Hi there! Thanks for enjoying Nova Vue 😄

I'm sorry for the issue... Yesterday I pushed an update but I haven't touched the syntax highlighting. Have you ever encountered this problem with the prior versions?

Anyway I'll look at it as soon as possible. Can you tell me what theme are you using? Maybe it's a problem of how the Vue special highlighting is implemented in the theme.

Thanks

[2021-05-03 08:25] tommasongr commented on #28
Hi there! Sorry for the delay.

I took the weekend for a big update/refactor #29. Now a lot of options for configuring the Vue Language Server (VLS) are exposed.

I'm not really sure what is the cause of your issue. Probably is something out of the scope of the extension. Maybe a problem of Nova or how Nova and the Vue Language Server communicates.

I tried to upgrade the working version of VLS to

[2021-05-03 08:58] dougalg commented on #28
You're doing this for free! Take as long as you want to reply, hahah 😄

Thanks for following up. Maybe if I can find some time it would be fun to delve into this a bit deeper, and see what the root cause is... time is, of course, the issue.

[2021-05-03 09:19] tommasongr commented on #26
The Vetur API has been exposed with #29 🎉

Close the issue

[2021-05-03 09:19] #26 closed

[2021-05-03 09:27] tommasongr commented on #25
Hi there! Sorry for the delay...

I've been able to refactor/improve a lot in the last weekend. With #29 the Vetur API is finally exposed in the extension preferences. You can finally tweak everything about code validation and much more.

Anyway I tested a vue3 project with the standard configuration and I don't see that error anymore. Probably has been solved by the Vetur team 🎉

<img width="470"

[2021-05-03 09:27] #25 closed

[2021-05-03 09:39] dougalg commented on #28
Also, just to clarify, does auto-import work for you?

[2021-05-03 09:51] tommasongr commented on #28
ahaha Thanks!

You are free to investigate as much as you want! I would love to have some help, also because most of the time I have no idea what I'm doing 😂

With the last update I basically rewritten all the Javascript implementation and add a lot of comments to explain as best as I can what is going on. If you decide to take a look that would help I hope.

Anyway auto-import doesn't work for me

[2021-05-03 09:52] tommasongr commented on #28
Sorry, closed by accident ahaha

[2021-05-03 10:23] dougalg commented on #28
Thanks a lot. I think you're right that it's probably a bug (or just missing feature) in Nova's language client.

[2021-05-03 11:28] yoyo930021 commented on #28
It works fine in vscode.
I don't know how to trace nova and language serve messages. =_=
It can help us to find questions.

Probably reason:
1. Vue LSP returns wrong data or unsupport date when codeAction.
2. Vue LSP has some wrong with special env.

[2021-05-03 16:28] command-tab commented on #31
Thanks for the fast reply!

I did encounter the issue before the 4.1 release. Yesterday I updated to 4.1 hoping it would fix it, but it made no change.

I'm using my own custom editor theme with my preferred colors, but this particular highlighting issue persists no matter what Nova editor theme I switch to; I see the same issue just in different colors. Here it is in the Dark theme that ships wit

[2021-05-03 16:48] tommasongr commented on #31
No unfortunately 4.1 was focused on Language Server and JS related stuff.

Thanks for the explanation, I'll look at the default Dark theme and let you know.

No don't worry, we'll fix it. Kebab-case feels way better to me ahahah

[2021-05-03 17:27] tommasongr commented on #31
Hi again! That has been an easy one! I just pushed v4.2 that solves the issue.

Just to be sure, did you experienced this issue with other tags too? I ask because the extension treats some tags like nuxt-link as special ones. In fact, the problem was that I missed to specify the kabab-case version of NuxtLink.

Here is the list of all the special tags. If you think I missed something let me know 😄

[2021-05-03 17:52] command-tab commented on #31
Ah, you're right, it looks like `nuxt-link` is the only one. Other hyphenated tags are highlighted as plain HTML tags. 🙌🏻  4.2 fixes `nuxt-link`. Thank you!!

[2021-05-03 22:12] tommasongr commented on #31
You are welcome!

[2021-05-03 22:12] #31 closed

[2021-05-04 08:22] tommasongr commented on #28
Thanks @yoyo930021 I'll reach out to @panicinc and see if they are aware of this issue

[2021-05-04 09:08] tommasongr commented on #28
Anyway @yoyo930021 I selected the DEBUG log level, but I don't see any useful prompts.

This is all:
[code]

<img width="2304" alt="Schermata 2021-05-04 alle 10 59 04" src="https://user-images.githubusercontent.com/25225746/116981448-c811a100-acc7-11eb-8201-ae70dc589867.png">

When I fire the import action nothing is logged in the console. Is that right?

---

Another possible factor is that curre

[2021-05-04 09:56] yoyo930021 commented on #28
The log level only provides minimal information.

I want this information.
https://github.com/vuejs/vetur/wiki/Collecting-LSP-log
But this option only works in vscode language client.

I think it's a nova language client problem.
Relative issue:
https://github.com/bmewburn/vscode-intelephense/issues/1534

https://microsoft.github.io/language-server-protocol/specifications/specification-current/#cl

[2021-05-04 09:59] tommasongr commented on #28
Thanks! I'll report it

[2021-05-10 07:18] dougalg commented on #28
Thanks @tommasongr and @yoyo930021 for debugging this!

Adding a link to the Nova thread as well, to make it easier to cross-reference: https://devforum.nova.app/t/lsp-import-action-error/860

[2021-05-14 01:46] chriscalo commented on #25
Perfect, thank you! 🙏 I found where to turn off validation in the extension settings 👍

[2021-05-30 07:30] war1an opened #32 "Nova preview cache"
This is not directly linked with the extension. But I'm having issue with the preview tab inside Nova. I open the tab at `localhost:8080` and at first I can see the page and everything works like a charm. But at some point.. the window starts showing old code or the changes don't take effect.

After searching on the web, I found that the issue is related to how Safari does its caching. If I open `

[2021-05-30 11:52] tommasongr commented on #32
Hi there! I don't use Nova preview on a daily basis but I do use Safari as my main dev browser along with Firefox.

I can confirm you that in Safari there are some differences with how cache control behave. Therefore, for example, on every NuxtJS project I always add these lines to the build settings. I found out that it solves all the problems with cache. Maybe you can try to set this Headers too

[2021-05-30 15:23] command-tab commented on #32
FWIW, this Safari infinite reload issue was fixed in Nuxt 2.15.4:
https://github.com/nuxt/nuxt.js/issues/3828#issuecomment-805134947
https://github.com/nuxt/nuxt.js/pull/9088

[2021-06-10 18:52] mikeyavorsky opened #33 "Vue Language Server crashes when I open a [second?] project"
[NovaExtensionConsole.log](https://github.com/tommasongr/nova-vue/files/6633751/NovaExtensionConsole.log)

[2021-06-10 19:04] tommasongr commented on #33
Hi there, thanks for reporting this.

I never experienced such a problem but I'll check at your log as soon as possible and let you know.

[2021-06-11 07:52] tommasongr commented on #33
Hi there, I've seen you logs.

Unfortunately the issue you are experiencing is not in the scope of nova-vue. Under the hood the extension is using VLS. That is the language server for Vue developed in the scope of the Vetur project for VSCode. In the logs, as you can see, there are two sources: Vue and Vue Language Server. All the issues with Vue Language Server are not in my direct control. Maybe

[2021-06-11 07:54] #32 closed

[2021-06-13 17:34] mikeyavorsky commented on #33
Thanks for taking a look, Tommaso. Yes, every project. I'll try reporting to the Vetur team.

[2021-06-25 15:43] war1an opened #34 "Nova version 7 breaks the plugin"
On a brand new project `vue create project_name`

If I try to delete the default styles inside App.vue... Nova crashes.

[2021-06-27 09:54] tommasongr commented on #16
Not sure what version of Nova fixed this but in Nova v7.0 object shorthands work as expected 🚀

[2021-06-27 09:54] #16 closed

[2021-06-28 03:55] chriscalo opened #38 "How to disable all Typescript validation messages?"
I'm seeing a few Typescript validation messages from Vetur:

![image](https://user-images.githubusercontent.com/867717/123577927-b9fd6f80-d7a2-11eb-8df5-c28cfe0a093f.png)

These aren't useful for me, so I'd like to turn them off.

I tried unchecking all **Validation** options in `nova-vue`'s preferences, but that didn't seem to work:

![image](https://user-images.githubusercontent.com/867717/12357

[2021-06-28 03:57] chriscalo commented on #38
I'm also seeing this message on occasion, perhaps this is related?

![image](https://user-images.githubusercontent.com/867717/123578254-6c353700-d7a3-11eb-95e9-feae4487d814.png)

[2021-06-28 08:07] tommasongr commented on #34
Hi there. I'm sorry you are experiencing this 😕. I hope you have found a workaround...

Unfortunately I was aware of this issue. I've never been able to identify the cause though. Technically the syntax implementation is right, probably there is a problem with Nova and how it andles multiple languages in the same file. Vue is a complex syntax in terms of sub-components, in fact I've seen it happen

[2021-06-28 08:23] tommasongr commented on #38
Hi @chriscalo thanks for reporting this.

I just checked and I can confirm that unfortunately almost all the options for Vetur are no longer registered correctly... I'll further investigate. Right now I can't tell if its because of the VLS upgrade I did in v5.0 or for some changes in Nova v7.0... In any case this is going to be a priority issue.

The message from Vue Language Server is not related

[2021-06-28 08:48] tommasongr commented on #38
v5.1 rolls back VLS to v0.5.7. That should fix the issue for now...

[2021-06-28 08:48] #38 closed

[2021-06-28 12:26] chriscalo commented on #38
Thanks so much, @tommasongr! 🙏

[2021-07-14 23:54] mlilback opened #40 "crash when editing .vue file with no style section"
1. Create a new .vue file.
2. Type an empty template and script sections.
3. Start to type the style section and save it. The app will crash before you can save it.

A crash also happens if you paste the following and start to add the style tag:

[code]

[Nova_2021-07-14-194257_Wednesday.txt](https://github.com/tommasongr/nova-vue/files/6819454/Nova_2021-07-14-194257_Wednesday.txt)

[2021-07-27 12:04] pmcp opened #41 "Extension crashes constantly"
This plugin crashes constantly, unable to get it work, even with a fresh install of Nova and no other extensions activated.

- This is the repo I'm using, but it happens in other repos also (https://github.com/pmcp/velotheek-v3).

- The error message: "Vue Language Server stopped unexpectedly: Error: Task “tommasonegri.vue” exited with a non-zero exit status: 1. Please report this, along with any

[2021-07-27 12:15] tommasongr commented on #41
Hi there! I just downloaded your project and everything is working fine...

Here are the logs of the Vue extension:
[code]

And here are the logs of the Vue Language Server:
[code]

[2021-07-27 12:18] tommasongr commented on #41
These logs suggest to me that there might be some problems with your node and npm versions. Can you look at them and tell me which one you are using?

[2021-07-27 12:26] tommasongr commented on #41
One thing you can try is to force the dependencies reinstallation. You can do it with this command:
<img width="523" alt="CleanShot 2021-07-27 at 14 24 27@2x" src="https://user-images.githubusercontent.com/25225746/127153204-0652c45e-835a-4ed9-980b-42745afb7213.png">

After that you should exit from Nova and reopen the project. You should see the installation process in the logs

[2021-07-27 12:38] tommasongr commented on #40
Hi there, sorry for the late response.

This is a known issue... see #34

Unfortunately I think is something related to Nova and the fact that the Vue syntax is quite of an unusual one. My guess is that the syntax engine was not developed with the idea of having three different subsyntaxes in one file and when you remove one of them in a "weird" way it crashes

[2021-07-29 08:18] tommasongr commented on #40
Thanks to the good work of the folks at @panicinc Nova v7.2 solves this issue!

[2021-07-29 08:18] #40 closed

[2021-07-29 08:18] tommasongr commented on #34
Thanks to the good work of the folks at @panicinc Nova v7.2 solves this issue!

[2021-07-29 08:18] #34 closed

[2021-08-02 03:16] jdillworth commented on #41
I'm getting this same issue. This happens even when I don't have any Vue files open. I tried "Force Dependencies Reinstallation", still happening.

Thanks for the extension 😅

[2021-08-02 06:57] tommasongr commented on #41
I'm sorry for this... Can you send me the logs and your node/npm version? Thanks

[2021-08-24 22:56] Tornquist opened #42 "Support for vetur.config.js"
I was wondering if there are any plans for supporting vetur.config.js?

It's critical for monorepo support with tsconfig.json living in a subfolder. https://vuejs.github.io/vetur/reference/

I'm interested in support of:

[code]

We've recently reorganized our repository and path loading is no longer working properly with this plugin.

[2021-08-25 08:23] tommasongr commented on #42
Hi there!

I'm not really sure if this is something I will be able to implement. This extension is using only a subset of the Vetur project. The only piece integrated is the Vue Language Server (VLS). If this config file is implemented at a higher scope than VLS there is not much I can do.

Anyway these two configs are already exposed in the extension settings
[code]

![CleanShot 2021-08-25 at 10

[2021-08-25 13:20] Tornquist commented on #42
It looks like vetur is using the config directly and then is passing it to VLS.

https://github.com/vuejs/vetur/blob/e869345391ad404c3f6d3dc9da0ef73da23fe6c5/server/src/config.ts#L192

[code]

If there were a way to override the workspace path, that alone would be a huge win for me. That doesn't add monorepo support for multiple vue projects, but would allow me to continue using nova from one dire

[2021-11-13 01:20] jdillworth commented on #41
Sorry, suddenly started working lots of overtime in August. Some later release of Nova seems to have resolved this for me.

[2021-12-16 13:31] RenegadeMonster commented on #33
![image](https://user-images.githubusercontent.com/11876207/146380858-bd1b0b3b-dc64-4ec8-b92d-d79fba292b50.png)

If I have more than one Project / Nova window open the Vue Language Server endlessly crashes.  It used to stay up and running after restarting until I changed the focus to another Nova Window/Project.  But now with version 8.x of Nova it crashes as soon as I restart it.  It's impossible

[2021-12-17 10:16] tommasongr commented on #33
HI there! I'm sorry that you're experiencing this 😕

Unfortunately I tried opening multiple vue projects at once and everything works fine on my side...

A suggestion I can give you is to try to disable all the other Nova extensions except for Vue and see if any of those are causing the crash. It already happened that two extensions were in conflict with each other.

Otherwise I ask you if you can

[2022-01-25 13:06] garee76 commented on #33
After a few seconds running the extension, I get the same error-message. Always. I click restart and after a few more seconds again. Here is my output from the console:

Vue[14:00:59.093000] Goodbye from Vue 👋

Vue[14:00:59.093000] Reloading Vue Language Server...

Vue[14:01:03.219000] VLS Version 0.5.10

Vue[14:01:03.220000] Vue Version 3.2.27

Vue Language Server[14:01:04.482000] [INFO ] Find no

[2022-01-26 13:07] tommasongr commented on #33
Hi @garee76, I'm sorry for this.

Unfortunately all the issue with the Vue Language Server are not directly in my control. The Nova extension just ships bundled with it. The development of VLS is part of the Vetur project.

Anyway, having seen all these issues, I was considering switching from Vetur to Volar, the new sort of replacement for it. The problems are that first of all that would be a bi

[2022-03-23 07:35] P4sca1 opened #44 "Support for Volar"
From https://vuejs.org/guide/typescript/overview.html#ide-support:

Volar also has experimental support for Vue.js 2 projects.
Maybe a setting could be provided, which language server should be used?

[2022-04-07 04:20] raffeyang opened #45 "Missing file icon?"
Missing file icon?

[2022-04-17 09:20] tommasongr commented on #44
Hi there! Sorry for the late reply.

I just wanted to let you know that I'm starting looking at Volar and at the shift from Vetur. I'm not sure I will end up leaving both Volar and Vetur as possible options. I'm worried it might end up messing up the code.

The possible solution I'm considering are:
- Creating a new extension with the legacy Vetur version and moving this one to Volar
- Leaving thi

[2022-04-21 17:07] summer-mute opened #46 "Nested scss is fails to parse correctly."
It seems like this subsyntax fails to match for nested scss.

[code]
here is an example from a `.sass` file of nested selectors highlighting correctly

<img width="724" alt="Screen Shot 2022-04-21 at 11 56 40 AM" src="https://user-images.githubusercontent.com/38389951/164512117-bc3656eb-c924-4458-9578-fdbda174b11b.png">

here is the most basic pathological example in a `.vue` file:
<img width="724

[2022-04-21 20:06] tommasongr commented on #46
Hi there!

Oh gosh! Thanks for the catch!
I looked at it and it was worst than you initially find out... Apparently all the not standard syntaxes both for css and javascript were ignored all together. It was a matter of the order in which the alternative scopes were specified in the syntax. I'm so
sorry for this... I usually stick to the standard css and js and I have never come across this.

<img

[2022-04-21 20:19] summer-mute commented on #46
Thanks man, I use the tool everyday, really nice work.

[2022-04-21 20:49] tommasongr commented on #46
Just pushed v5.4 with the fix! Let me know if it works

By the way stay tuned for a major update in the coming days. I'm looking at leaving Vetur for the new Volar language server.

[2022-04-22 16:17] summer-mute commented on #46
@tommasongr Thanks, nested class selectors are working properly now, however it looks like there is still some issues parsing at-rules.

Here is a test snippet.

[code]
in a `.vue` file:

<img width="822" alt="Screen Shot 2022-04-22 at 11 14 11 AM" src="https://user-images.githubusercontent.com/38389951/164753878-25b36907-5d88-4b6c-aac1-484063a43b38.png">

in a `.scss` file:

<img width="720" alt=

[2022-04-25 18:35] tommasongr commented on #44
v6.0 comes with Volar support!

Check out the README for the new required installation process for both Volar and Vetur.

😉

[2022-04-25 21:01] tommasongr commented on #45
Hi there! Unfortunately there is no file icon API in Nova as of today.

The only thing I could do is file a report to Panic. Even if I already did it in the past. I guess they are providing icons just for the first-party languages they support.

[2022-06-12 00:41] GaryREM opened #49 "Extension does not appear to activate"
Have installed Solar per instructions.

Installed vue extension; however, it appears extension is not activating.

Checked the extension console and see other extensions activating, but not the view extension. Also do not see Vue extension in the extension menu although it is in the extension listing in the extension window.

Set Solar path to /usr/local/lib/node_modules/@volar/vue-language-server

[2022-06-16 16:25] chenjiangui opened #50 "type word slowly"
installed this latest plugin with volar,  type words will be slowly.

[2022-07-13 04:38] mattbisme commented on #50
Volar has been insanely slow for me as well. Not typing, but the validation process itself. You can watch the syntax highlighting (specifically the underlining of errors and notifications) crawl along, trying to catch up to the typed code.

After playing with the preferences a bit, now both Vetur and Volar just crash when enabling them. The validation/autocomplete works briefly, and then just vani

[2022-07-14 14:27] chriscalo opened #51 "Volar Not Found: this should be bundled"
I see the following message every time I open Nova:

language server for Vue but no executable has
been found on your system. Check the docs for
the installation process.

I understand that this is intentional, but since this message is coming from an installed extension, it feels broken. In my opinion, extensions should just work and not have external dependencies.

Of course, it could detect if

[2022-07-20 21:25] mattbisme commented on #50
This issue (or at least something similar) has come up over on the Volar repo. The fix seems to have something to do with [configuring `volar.diagnostics.delay`](https://github.com/johnsoncodehk/volar/issues/1295).

How do we do this for the Nova Vue plugin?

[2022-07-21 09:27] tommasongr commented on #50
Hi there! I was aware of this issue but I haven't been able to look into it.

Thanks for pointing out `volar.diagnostics.delay`. Right now it's not possible to modify this setting but I'll soon push an update to expose it

[2022-09-23 14:38] GaryREM commented on #49
Extension IS activating.

[2022-09-23 14:38] #49 closed

[2022-09-23 14:50] GaryREM opened #52 "Extension loading but no code validation or code completion on vue files"
Pointing to Volar at: /usr/local/lib/node_modules/@volar/vue-language-server/
Pointing to typescript at: /usr/local/lib/node_modules/typescript/lib/tsserverlibrary.js
See the 'Hello from Vue' message in extension console. Vue files are now highlighted.

However, there appears to be no code validation, intellisense, or code completion on vue files.

Any hints on what is wrong?

Running on Nova 9.6

[2022-09-26 18:25] GaryREM commented on #52
The path pointed to are there, but apparently not what is wanted by the extension. I removed the paths and now all appears to be working.

[2022-09-26 18:25] #52 closed

[2022-10-30 21:09] GaryREM commented on #45
The Vue icon was just added with V10! This should be closed

[2022-11-01 18:27] GaryREM opened #53 "Extension only partially working"
I have installed extension and am pointing to project specific instances of the Volar languages server and Typescript libraries:

[code]
The highlighting appears on vue files.
The 2 vue clips show up.
There is no autocompletion in template section of vue files.
There is no autocompletion in script section of vue files.
There IS autocompletion in style section.

There is no Vue extension entry in t

[2022-11-13 20:31] GaryREM commented on #53
resolved this by:

1. adding jsconfig.json with section "jsx": "preserve" under compilerOptions
2. installed version 0.40.4 of Solar language server

[2022-11-27 12:06] #45 closed

[2022-11-27 12:08] tommasongr commented on #27
The new tree-sitter based syntax added in v7.0 solved the issue. Closing

[2022-11-27 12:08] #27 closed